<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260600606826-91qk88f19r9btuk5hgq1lq6aeni04kmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260600606826-91qk88f19r9btuk5hgq1lq6aeni04kmh</string>
	<key>API_KEY</key>
	<string>AIzaSyBH-3xELIW8K1gwjSA70WaT4VsgViYUTR0</string>
	<key>GCM_SENDER_ID</key>
	<string>260600606826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.asobo.worldnotes</string>
	<key>PROJECT_ID</key>
	<string>world-notes-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>world-notes-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260600606826:ios:bac4b29736a3ef63fe1a13</string>
</dict>
</plist>